



h1{
    font-family: 'Pattaya', sans-serif;
    margin-left: 30%;
    padding-top: 2%;
   
}
.container{
   display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 40vh;
}

    


#features{
    margin: auto auto;
    background-color:#1eae98;
    padding: 5% 5%;
}

.feature-box{
 text-align: center;
 
}
p{
    color: rgb(116, 25, 25);
    padding: 1.5rem 3rem;
}